body {
  background-color: #f2f2f2;
}
div {
  margin: 10px;
}
.create-game {
  width: 100%;
  height: 30px;
}
#game-list {
  width: 10%;
}
.create_button {
  width: 5%;
}

.all_games {
  width: 100%;
  height: 70%;
  padding-top: 30px;
}

.game:hover {
  box-shadow: 10px 10px 5px #888888;
}
.game {
  height: 30%;
  width: 30%;
  background-color: white;
  display: inline-block;;
}

.title {
  font-size: 40px;
}

.size {
  background-color: yellow;
}

.available {
  background-color: lightgreen;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

#waitingModal {
  display: none;
  width:100%;
}

.load {
  background-color: white;
  width: 90%;
  height: 10%;
}

.joined-players {
  background-color: white;
  width: 90%;
  height: 60%;
}
