.blue {
  background-color: rgb(190, 227, 237);
}

.yellow {
  background-color: rgb(218, 223, 163);
}

.green {
  background-color: rgb(167, 241, 179);
}

.red {
  background-color: rgb(233, 171, 174);
}
