#name {
  margin-top: 80px;
  position: relative;
  text-align: center;
  font-size: 16px;
  width: 50%;
  height: 30px;
}
#login {
  position: relative;
  text-align: center;
  font-size: 14px;
  width: 18%;
  height: 30px;
}
.container {
  width: 100%;
  height: 100%;
  /*margin-left: 34%;*/
  /*margin-top: 200px;*/
  /*width: 30%;*/
  /*height: 200px;*/
  background-color: darkgray;
  /*position: relative;*/
  /*border-radius: 25px;*/
  text-align: center;
}
